# ignore .DS_Store
.DS_Store

# ignore DM STUFF
_DM_/

# Add ignore unshared assets
assets/unshared/

# Ignore unshared items
Things/*
!/Things/Artifacts of Power
/Things/Artifacts of Power/*
!/Things/Artifacts of Power/Circlet of Foreknowledge.md

# Ignore base md files
/*.md

# Ignore dot directories
.*/

!.obsidian
.obsidian/*
!.obsidian/metadata.json

# Include gitignore
!.gitignore

