.internal-embed[alt="natural"] .file-embed-title,
.internal-embed[alt="natural"] .markdown-embed-link,
.internal-embed[alt="natural"] .markdown-embed-title {
    display: none;
}

.internal-embed.image-embed[alt="right"],
.internal-embed.image-embed[alt^="right|"],
.internal-embed.image-embed[alt$="|right"],
.internal-embed.image-embed[alt*="|right|"],
img[alt="right"],
img[alt^="right|"],
img[alt$="|right"],
img[alt*="|right|"] {
    float: right;
    margin: 0 0 1rem 1rem;
}

.internal-embed.image-embed[alt="left"],
.internal-embed.image-embed[alt^="left|"],
.internal-embed.image-embed[alt$="|left"],
.internal-embed.image-embed[alt*="|left|"],
img[alt="left"],
img[alt^="left|"],
img[alt$="|left"],
img[alt*="|left|"] {
    float: left;
    margin: 0 1rem 1rem 0;
}

.internal-embed[alt="natural"] {
    border-left: 0;
    padding: 0;
}

.internal-embed[alt="natural"]>.markdown-embed {
    padding: inherit;
    border: 0;
}

.markdown-reading-view .markdown-preview-view:not(.is-readable-line-width)>.markdown-preview-sizer {
    margin: inherit;
}

.mermaid svg {
    max-width: 100%;
    height: auto;
}
